@charset "UTF-8";

/*font-family*/
@font-face {
    font-family: "Banger";
    src: url(Bangers-Regular.ttf);
}

/*variaveis*/
:root{
    --corHeader: #104953;
    --corHeaderBur: #104953f1;
    --corBtneLH1: #F48641;
    --corLetrasGreal: white;
}

/*configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    transition: ease 1s;
    padding-top: 70px;
}

/*começo do header*/
header{
    display: flex;
    background-color: var(--corHeader);
    height: 11vh;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

.cntlogo{/*conteiner com a logo h1 e h1*/
    height: 100%;
    width: 30%;
}

#logoh1{
    color: var(--corBtneLH1);
    padding: 10px 0px 0px 20px;
}

#logoh2{
    padding: 0px 0px 5px 42px;
    color: var(--corLetrasGreal);
}

.burgerm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

i#burger{
    font-size: 2.2em;
    padding-right: 30px;
    color: #e57627;
}

.menu{
    background-color: var(--corHeaderBur);
    height: 88vh;
    width: 100vw;

}

.menu > ul > li{
    padding: 15px;
    font-size: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.849);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.menu > ul > li:hover{
    background-color: rgb(233, 222, 207);
    text-decoration: underline;
}

.menu > ul > li > a{
    text-decoration: none;
    color: var(--corLetrasGreal);
    font-size: 0.6em;
}

.menu2{
    padding: 0px 30px 0px 0px;
    display: none;
    text-decoration: none;
    color: var(--corLetrasGreal);
    font-size: 1em;
}

.menu2:hover{
    text-decoration: underline;
}

/*fim da parte de header e menu*/

main{
    width: auto;
    height: auto;
    background-color: rgb(233, 222, 207);
}

main > h1{
    padding: 10px 0px 10px 18px;
    font-size: 2.2em;
}

main > p{
    text-align: center;
    font-size: 1.2em;
}

.headermain{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headermain > h1{
    font-size: 2.2em;
    padding: 20px 0px 20px 0px;
}

.headermain > p{
    font-size: 1.2em;
    padding: 10px 0px 10px 0px;
}

.cntimg2{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    background-image: url(img/imgleve.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

div#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 30vh;
}

/*parte dos dados*/

.dados{
    display: flex;
    background-color: rgb(233, 222, 207) ;
    width:100%;
    flex-direction: column;
    padding-top: 20px;
}

.cntdados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.boxdados{
    display: flex;
    background-color: rgb(201, 191, 177);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.iconsdados{
    margin: 20px;
    color: #2e9871;
}

.conteudod > h1,p{
    padding: 10px;
}

.conteudod > h1{
    font-size: 2em;
}

.conteudod > p{
    font-size: 1.3em;
}

/*fim da parte do main*/

footer{
    background-image: url(img/Untitled-1.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #005f3cd5;
    text-align: center;
}

footer > h1{
    font-size: 1.8em;
}

div#email{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

div#telefone{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}