@charset "UTF-8";

@media screen and (min-width:720px) and (max-width:919px) {

    body{
     padding-top: 85px;
    }

    .calendario{
        min-width: 300px;
    }

    .trabalhos{
        min-width: 300px;
    }

    .loc{
        width: 650px;
    }
}

@media screen and (min-width:920px) and (max-width:1023px) {
    .cntimg{
        width: 50%;
    }
    
    .cntimg > img{
        margin:0px 0px 0px 80px;
    }
    
    .burgerm{
        width: 50%;
    }
    
    i#burger{
        padding-right: 80px;
    }

    .calendario{
        width: 400px;
    }

    .trabalhos{
        width: 400px;
    }

    .loc{
        width: 866px;
    }

    footer > h1{
        font-size: 2em;
    }
    
    div#email{
        font-size: 1.2em;
    }
    
    div#telefone{
        font-size: 1.2em;
    }

    footer > div > img{
        width: 35px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .cntimg{
        width: 22%;
    }
    
    .cntimg > img{
        margin:0px 0px 0px 60px;
    }
    
    .burgerm{
        width: 78%;
        justify-content: space-around;
    }
    
    i#burger{
        display: none;
    }

    .headermain > h1{
        padding-top: 30px;
    }

    .calendario{
        width: 400px;
    }

    .trabalhos{
        width: 400px;
    }

    .loc{
        width: 866px;
    }

    .menu2{
        display: block;
    }

    footer > h1{
        font-size: 2em;
    }
    
    div#email{
        font-size: 1.2em;
    }
    
    div#telefone{
        font-size: 1.2em;
    }

    footer > div > img{
        width: 35px;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px){
    .cntimg{
        width: 22%;
    }
    
    .cntimg > img{
        margin:0px 0px 0px 60px;
    }
    
    .burgerm{
        width: 78%;
        justify-content: space-around;
    }
    
    i#burger{
        display: none;
    }

    .headermain > h1{
        padding-top: 40px;
    }

    .calendario{
        width: 400px;
    }

    .trabalhos{
        width: 400px;
    }

    .loc{
        width: 866px;
    }

    .menu2{
        font-size: 1.4em;
        display: block;
    }

    footer > h1{
        font-size: 2em;
    }
    
    div#email{
        font-size: 1.2em;
    }
    
    div#telefone{
        font-size: 1.2em;
    }

    footer > div > img{
        width: 35px;
    }
} 

@media screen and (min-width:1440px){
    .cntimg{
        width: 22%;
    }
    
    .cntimg > img{
        margin:0px 0px 0px 60px;
    }
    
    .burgerm{
        width: 78%;
        justify-content: space-around;
    }
    
    i#burger{
        display: none;
    }

    .headermain > h1{
        padding-top: 50px;
    }

    .calendario{
        width: 400px;
    }

    .trabalhos{
        width: 400px;
    }

    .loc{
        width: 400px;
    }

    .menu2{
        font-size: 1.6em;
        display: block;
    }

    main > h1{
        padding: 10px 0px 10px 18px;
        font-size: 2.5em;
    }
    
    main > p{
        text-align: center;
        font-size: 1.5em;
    }

    footer > h1{
        font-size: 2em;
    }
    
    div#email{
        font-size: 1.2em;
    }
    
    div#telefone{
        font-size: 1.2em;
    }

    footer > div > img{
        width: 35px;
    }
} 
