@charset "UTF-8";

// <uniquifier>: Use a unique and descriptive class name

.archivo-<uniquifier> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 62.5;
}

/*configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body{
    transition: ease 1s;
    overflow-x:hidden ;
}

header{
    display: flex;
    background-color: antiquewhite;
    height: 12vh;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.cntimg{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}

.cntimg > img{
    padding-left: 30px;
}

.burgerm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

i#burger{
    font-size: 2.2em;
    padding-right: 30px;
    color: #e57627;
    cursor: pointer;
}

.menu{
    display: none;
    background-color: rgb(204, 194, 180);
    height: 88vh;
}

li{
    padding: 15px;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightgrey;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

li:hover{
    background-color: rgb(233, 222, 207);
    text-decoration: underline;
}

/*fim da parte de header e menu*/

main{
    width: 100vw;
    background-color: rgb(233, 222, 207);
}

.headermain{
    height: 28vh;
    width: 100vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headermain > h1{
    padding: 30px 0px 30px 0px;
    font-size: 3em;
}

.headermain > p{
    padding: 0px 0px 10px 0px;
}

.cntimg1{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    width: 80vw;
    height: 25vh;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
/*apartir dessa parte comecei a ter problemas com barra de rolagem horizontal mas retirei com o overflow-x hidden no body*/
.cntimg2{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    width: 80vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

h1, p{
    padding: 20px;
}

div#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 30vh;
}

.dados{
    display: flex;
    background-color: rgb(233, 222, 207) ;
    width:100%;
    flex-direction: column;
    padding-top: 20px;
}

.cntdados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.boxdados{
    background-color: rgb(201, 191, 177);
    border-radius: 20px;
    width: 90vw;
    margin: 30px;
}

.iconsdados{
    margin: 20px;
    color: #2e9871;
}